<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>All Recipes</title>
  </head>
  <body>
  <h1>Recipes</h1>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <p>Name: <%= recipe.name %></p><br>
      <p>Ingredients: <%= recipe.ingredients %></p><br>
      <p>Cook Time: <%= recipe.cook_time %></p><br>
    </div><br>
    <% end %>
  </body>
</html>
