<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
  </head>
  <body>
    <h1>Recipe: <%=@recipe.name%></h1>
    <p>Ingredients: <%=@recipe.ingredients%></p>
    <h2> Cook Time: <%=@recipe.cook_time%></h2>


  </body>
</html>
