<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
  </head>
  <body>
    <h1><%=Recipe.name%></h1>
    <p>Ingredients: <%=Recipe.ingredients%></p>
    <h2> Cook Time: <%=Recipe.cook_time%></h2>

  </body>
</html>
